@charset "UTF-8";
@font-face { font-family: "mplus-2c-regular"; src: url("fonts/mplus-2c-regular.eot"); src: url("fonts/mplus-2c-regular.eot?#iefix") format("embedded-opentype"), url("fonts/mplus-2c-regular.woff") format("woff"), url("fonts/mplus-2c-regular.ttf") format("truetype"); }
@font-face { font-family: "mplus-2c-medium"; src: url("fonts/mplus-2c-medium.eot"), url("fonts/mplus-2c-medium.woff") format("woff"), url("fonts/mplus-2c-medium.ttf") format("truetype"); }
@font-face { font-family: "mplus-2c-heavy"; src: url("fonts/mplus-2c-heavy.eot"), url("fonts/mplus-2c-heavy.woff") format("woff"), url("fonts/mplus-2c-heavy.ttf") format("truetype"); }
/*=============================================================
 02_base
=============================================================*/
@font-face { font-family: "mplus-2c-regular"; src: url("fonts/mplus-2c-regular.eot"); src: url("fonts/mplus-2c-regular.eot?#iefix") format("embedded-opentype"), url("fonts/mplus-2c-regular.woff") format("woff"), url("fonts/mplus-2c-regular.ttf") format("truetype"); }
@font-face { font-family: "mplus-2c-medium"; src: url("fonts/mplus-2c-medium.eot"), url("fonts/mplus-2c-medium.woff") format("woff"), url("fonts/mplus-2c-medium.ttf") format("truetype"); }
@font-face { font-family: "mplus-2c-heavy"; src: url("fonts/mplus-2c-heavy.eot"), url("fonts/mplus-2c-heavy.woff") format("woff"), url("fonts/mplus-2c-heavy.ttf") format("truetype"); }
/*!  02_base
================================================ */
html { overflow: auto; }
body { min-width: 1200px; line-height: 1.1; overflow: hidden; color: #333f4f; font-family: "メイリオ","Meiryo","ＭＳ Ｐゴシック","Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3",sans-serif; font-size: 14px; letter-spacing: .025em; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
@media screen and (max-width: 599px) { body { position: relative; min-width: 320px; font-size: 13px; } }
* { box-sizing: border-box; }
.cf:after { display: block; clear: both; content: ""; }
@media screen and (min-width: 600px) { .alpha { -webkit-transition: all .3s; transition: all .3s; }  .alpha:hover { opacity: .7; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)"; }  .viewSp { display: none !important; } }
@media screen and (max-width: 599px) { img { width: 100%; height: auto; }  .viewPc { display: none !important; } }
.alignleft { float: left; width: 70%; margin: 0 20px 20px 0; }
.alignright { float: right; width: 70%; margin: 0 0 20px 20px; }
.aligncenter { margin: 0 auto; text-align: center; }
/* 
layout
*/
#hopecolumn #wrapper { width: 960px; margin: 0 auto 65px; }
#hopecolumn #contents { float: right; width: 700px; }
#hopecolumn #side { float: left; width: 220px; }
@media screen and (max-width: 599px) { #hopecolumn #wrapper { width: 100%; margin: 0 auto 0; }  #hopecolumn #contents { float: none; width: 100%; }  #hopecolumn #side { float: none; width: 100%; } }
/*=============================================================
 03_layout
=============================================================*/
/*!  #gHeader
================================================ */
@media screen and (max-width: 599px) { #js-overlay { display: none; position: absolute; top: 51px; left: 0; z-index: 50; width: 100%; height: 100%; background-color: rgba(0, 0, 0, .7); } }
#gHeader .hdInfo { position: relative; width: 1200px; margin: 0 auto; padding: 20px 0 0; }
#gHeader .hdInfo .hLogo01 { float: left; width: 143px; margin-right: 319px; }
#gHeader .hdInfo .hLogo02 { width: 275px; margin: 0 auto; padding-top: 5px; }
#gHeader .hdInfo .hSns { position: absolute; top: 30px; right: 0; width: 111px; }
#gHeader .hdInfo .hSns ul { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }
#gHeader .hdInfo .hSns ul li { width: 30px; }
#gHeader #gNav { position: relative; }
#gHeader #gNav > ul { display: -webkit-box; display: -ms-flexbox; display: flex; width: 1200px; margin: 0 auto; -ms-flex-pack: distribute; justify-content: space-around; }
#gHeader #gNav > ul > li { width: 400px; text-align: center; }
#gHeader #gNav > ul > li a { display: block; padding-top: 20px; font-family: "mplus-2c-medium", "メイリオ", Meiryo, "游明朝", YuMincho, "Times New Roman", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", serif; font-size: 1.5rem; text-decoration: none; }
#gHeader #gNav > ul > li a span { display: block; width: 100%; height: 5px; margin-top: 10px; }
#gHeader #gNav > ul > li.nav01 a { color: #f40009; }
#gHeader #gNav > ul > li.nav01 a:hover span { background-image: -webkit-linear-gradient(left, #ed7741 0%, #db3a59 100%); background-image: linear-gradient(90deg, #ed7741 0%, #db3a59 100%); }
#gHeader #gNav > ul > li.nav02 a { color: #02c3ac; }
#gHeader #gNav > ul > li.nav02 a:hover span { background-image: -webkit-linear-gradient(left, #02c3ac 0%, #6be4cc 0%, #01af9a 100%); background-image: linear-gradient(90deg, #02c3ac 0%, #6be4cc 0%, #01af9a 100%); }
#gHeader #gNav > ul > li.nav03 a { color: #247af9; }
#gHeader #gNav > ul > li.nav03 a:hover span { background-image: -webkit-linear-gradient(left, #66c3fe 0%, #247af9 100%); background-image: linear-gradient(90deg, #66c3fe 0%, #247af9 100%); }
#gHeader #gNav > ul > li .gNavCatSub { display: none; position: absolute; top: 51px; right: 0; left: 0; z-index: 10; width: 100%; background-color: #3890fb; }
#gHeader #gNav > ul > li .gNavCatSub ul { display: -webkit-box; display: -ms-flexbox; display: flex; width: 1200px; margin: 0 auto; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; }
#gHeader #gNav > ul > li .gNavCatSub ul li { width: 130px; }
#gHeader #gNav > ul > li .gNavCatSub ul li a { padding: 35px 0; color: #fff; }
#gHeader #gNav > ul > li .gNavCatSub ul li a:hover { text-decoration: underline; }
#gHeader #gNav .hdFixWrap { display: none; position: fixed; top: 0; left: 0; z-index: 50; width: 100%; padding-top: 30px; border-bottom: 1px solid #bdbcbc; background-color: #fff; }
#gHeader #gNav .hdFixWrap.is-fixed { display: block; }
#gHeader #gNav .hdFix { position: relative; }
#gHeader #gNav .hdFix .hdFixIn { width: 1200px; margin: 0 auto; }
#gHeader #gNav .hdFix .hdFixIn .fxLogo { float: left; width: 203px; margin-top: -12px; }
#gHeader #gNav .hdFix .hdFixIn .fxLogo img { width: 100%; height: auto; }
#gHeader #gNav .hdFix .hdFixIn > ul { display: -webkit-box; display: -ms-flexbox; display: flex; float: right; width: 640px; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }
#gHeader #gNav .hdFix .hdFixIn > ul > li { width: 210px; text-align: center; }
#gHeader #gNav .hdFix .hdFixIn > ul > li a { display: block; font-family: "mplus-2c-medium", "メイリオ", Meiryo, "游明朝", YuMincho, "Times New Roman", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", serif; font-size: 1.5rem; text-decoration: none; }
#gHeader #gNav .hdFix .hdFixIn > ul > li a span { display: block; width: 100%; height: 5px; margin-top: 10px; }
#gHeader #gNav .hdFix .hdFixIn > ul > li.hdFixNav01 a { color: #f40009; }
#gHeader #gNav .hdFix .hdFixIn > ul > li.hdFixNav01 a span { background-color: #f40009; }
#gHeader #gNav .hdFix .hdFixIn > ul > li.hdFixNav02 a { color: #02c3ac; }
#gHeader #gNav .hdFix .hdFixIn > ul > li.hdFixNav02 a span { background-color: #02c3ac; }
#gHeader #gNav .hdFix .hdFixIn > ul > li.hdFixNav03 a { color: #247af9; }
#gHeader #gNav .hdFix .hdFixIn > ul > li.hdFixNav03 a span { background-color: #247af9; }
#gHeader #gNav .hdFix .hdFixIn > ul .gNavFixCatSub { display: none; position: absolute; top: 31px; right: 0; left: 0; width: 100%; background-color: #3890fb; }
#gHeader #gNav .hdFix .hdFixIn > ul .gNavFixCatSub ul { display: -webkit-box; display: -ms-flexbox; display: flex; width: 1200px; margin: 0 auto; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; }
#gHeader #gNav .hdFix .hdFixIn > ul .gNavFixCatSub ul li { width: 130px; }
#gHeader #gNav .hdFix .hdFixIn > ul .gNavFixCatSub ul li a { padding: 35px 0; color: #fff; }
#gHeader #gNav .hdFix .hdFixIn > ul .gNavFixCatSub ul li a:hover { text-decoration: underline; }
@media screen and (max-width: 599px) { #gHeader { width: 100%; }  #gHeader .hdInfo { display: inline-block; position: relative; width: 100%; height: 52px; padding: 5px 10px; border-bottom: 1px solid #bdbcbc; background-color: #fff; }  #gHeader .hdInfo .hLogo01 { float: left; width: 62px; margin-right: 17px; padding-top: 9px; }  #gHeader .hdInfo .hLogo02 { width: 137.5px; padding-top: 10px; }  #gHeader .hdInfo .menu { position: absolute; top: 5px; right: 10px; width: 40px; height: 40px; background: url(../img/common/header/btn_menu01.png) 0 0 no-repeat; background-size: contain; }  #gHeader .hdInfo .menu.open { background: url(../img/common/header/btn_menu02.png) 0 0 no-repeat; background-size: contain; }  #gHeader .hdInfo .icoHope { position: absolute; right: 0; bottom: -28px; z-index: 50; width: 55px; }  #gHeader #gNav { display: none; position: absolute; top: 51px; left: 0; z-index: 100; width: 100%; padding-bottom: 35px; background-color: #fff; }  #gHeader #gNav > ul { display: block; width: 100%; }  #gHeader #gNav > ul > li { width: 100%; text-align: center; }  #gHeader #gNav > ul > li + li { border-top: 1px solid #fff; }  #gHeader #gNav > ul > li a { padding: 17px 0; font-family: "mplus-2c-medium", "メイリオ", Meiryo, "游明朝", YuMincho, "Times New Roman", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", serif; font-size: 1.6rem; }  #gHeader #gNav > ul > li a span { display: none; }  #gHeader #gNav > ul > li.nav01 { background-image: -webkit-linear-gradient(left, #ed7741 0%, #db3a59 100%); background-image: linear-gradient(90deg, #ed7741 0%, #db3a59 100%); }  #gHeader #gNav > ul > li.nav01 a { color: #fff; }  #gHeader #gNav > ul > li.nav02 { background-image: -webkit-linear-gradient(left, #02c3ac 0%, #6be4cc 0%, #01af9a 100%); background-image: linear-gradient(90deg, #02c3ac 0%, #6be4cc 0%, #01af9a 100%); }  #gHeader #gNav > ul > li.nav02 a { color: #fff; }  #gHeader #gNav > ul > li.nav03 { background-image: -webkit-linear-gradient(left, #66c3fe 0%, #247af9 100%); background-image: linear-gradient(90deg, #66c3fe 0%, #247af9 100%); }  #gHeader #gNav > ul > li.nav03 a { color: #fff; }  #gHeader #gNav > ul > li.nav01 , #gHeader #gNav > ul > li.nav02 { position: relative; }  #gHeader #gNav > ul > li.nav01 a:after , #gHeader #gNav > ul > li.nav02 a:after { position: absolute; top: 35%; right: 5%; width: 10px; height: 17px; background: url(../img/common/header/ico_arw01.png) 0 0 no-repeat; background-size: contain; content: ""; }  #gHeader #gNav > ul > li.nav03 { position: relative; }  #gHeader #gNav > ul > li.nav03 a:after { position: absolute; top: 16px; right: 5%; width: 18px; height: 18px; background: url(../img/common/header/ico_open01.png) 0 0 no-repeat; background-size: contain; content: ""; }  #gHeader #gNav > ul > li.nav03 a.on:after { position: absolute; top: 16px; right: 5%; width: 18px; height: 18px; background: url(../img/common/header/ico_close01.png) 0 0 no-repeat; background-size: contain; content: ""; }  #gHeader #gNav > ul > li .gNavCatSub { display: none; position: static; background-color: #3890fb; }  #gHeader #gNav > ul > li .gNavCatSub ul { display: block; width: 100%; text-align: center; }  #gHeader #gNav > ul > li .gNavCatSub ul li { width: 100%; border-bottom: 1px solid #dddada; background-color: #fff; }  #gHeader #gNav > ul > li .gNavCatSub ul li a { position: relative; padding: 17px 0; color: #1f1f1f; font-size: 1.6rem; }  #gHeader #gNav > ul > li .gNavCatSub ul li a:after { position: absolute; top: 35%; right: 5%; width: 10px; height: 17px; background: url(../img/common/header/ico_arw02.png) 0 0 no-repeat; background-size: contain; content: ""; }  #gHeader #gNav .btns { padding: 20px 15px 25px; }  #gHeader #gNav .btns li { float: left; }  #gHeader #gNav .btns li + li { float: right; }  #gHeader #gNav .btns li a { display: block; }  #gHeader #gNav #js-btn-close { width: 210px; margin: 0 auto; padding: 14px 0; background: #1f1f1f url(../img/common/header/ico_close02.png) 15px 50% no-repeat; background-size: 15px; color: #fff; font-family: "mplus-2c-medium", "メイリオ", Meiryo, "游明朝", YuMincho, "Times New Roman", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", serif; font-size: 1.3rem; text-align: center; } }
/*!  #mainImg 下層ページ
================================================ */
/*!  #mainimg
================================================ */
/*!  #breadcrumb
================================================ */
#breadcrumb { width: 960px; margin: 15px auto; }
#breadcrumb li { display: inline-block; color: #999; font-size: 1.1rem; }
#breadcrumb li + li:before { content: ">"; }
#breadcrumb li a { color: #999; font-size: 1.1rem; text-decoration: none; }
#breadcrumb li a:hover { text-decoration: underline; }
/*!  #sidebar
================================================ */
#side input.gsc-search-button { box-sizing: initial !important; }
#side p { line-height: 1.5; padding: 6px 0; }
#side a:hover { opacity: .7; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)"; }
#side .ttl11 { margin: 10px 0; border-bottom: 2px solid #555182; font-size: 1.3rem; }
#side .loginBox { margin-bottom: 10px; padding: 10px 0; border: 1px solid #d5d5d5; border-radius: 5px; background-color: #f8f8f8; font-size: 1.3rem; text-align: center; }
#side .loginBox img { width: auto; }
#side .fsB { font-weight: bold; }
#side .fcOr { color: #ff8300; font-weight: bold; }
#side .fs16 { font-size: 1.6rem; }
@media screen and (max-width: 599px) { #side { padding: 0 15px; }  #side .gsib_a { padding-top: 0; }  #side input.gsc-input { line-height: 1.1; }  #side .fs16 { font-size: 1.5rem; } }
/*!  #gFooter
================================================ */
#gFooter { position: relative; }
#gFooter .pagetop { position: absolute; right: 0; }
#gFooter .about { padding: 38px 0 10px; background: url(../img/common/footer/bg_footer01.png) 0 0 no-repeat; background-size: cover; }
#gFooter .about .aboutIn { width: 1200px; margin: 0 auto; }
#gFooter .about .aboutIn .tit { width: 253px; padding: 20px 0; }
#gFooter .about .aboutIn .tit img { width: 100%; height: auto; }
#gFooter .about .aboutIn .box .img { position: relative; float: right; width: 200px; margin: -60px 75px 0 0; }
@media screen and (min-width: 600px) { #gFooter .about .aboutIn .box .img:hover:after { position: absolute; top: 20px; right: -100px; width: 130px; height: 90px; background: url(../img/common/footer/img_hukidashi.png) 0 0 no-repeat; background-size: contain; content: ""; } }
#gFooter .about .aboutIn .box .txt { float: left; width: 872px; line-height: 1.9; font-family: "mplus-2c-medium", "メイリオ", Meiryo, "游明朝", YuMincho, "Times New Roman", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", serif; font-size: 1.3rem; }
#gFooter .about .aboutIn .btns { margin: -20px 0 0; }
#gFooter .about .aboutIn .btns .info { float: left; width: 247px; margin: 10px 20px 0 0; }
#gFooter .about .aboutIn .btns .contact { float: left; }
#gFooter .ftBtm { height: 147px; background: url(../img/common/footer/bg_footer02.png) 0 0 no-repeat; background-size: cover; }
#gFooter .ftBtm .ftBtmIn { width: 1200px; margin: 0 auto; }
#gFooter .ftBtm .ftBtmIn .sns { display: -webkit-box; display: -ms-flexbox; display: flex; position: absolute; right: 360px; bottom: 53px; float: right; width: 125px; margin-top: 80px; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }
#gFooter .ftBtm .ftBtmIn .sns li img { width: 100%; height: auto; }
#gFooter .ftBtm .ftBtmIn .sns li.fb { width: 9px; }
#gFooter .ftBtm .ftBtmIn .sns li.tw { width: 21px; }
#gFooter .ftBtm .ftBtmIn .sns li.hn { width: 16px; }
#gFooter .ftBtm .ftBtmIn .ftLogo01 { position: absolute; right: 40px; bottom: 43px; }
#gFooter .ftBtm .ftBtmIn .copyRight { padding-top: 95px; color: #fff; font-family: "mplus-2c-medium", "メイリオ", Meiryo, "游明朝", YuMincho, "Times New Roman", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", serif; text-align: center; }
@media screen and (max-width: 599px) { #gFooter .pagetop { display: none; }  #gFooter .about { padding: 30px 15px 20px; background: url(../img/common/footer/bg_footer01.png) 0 0 no-repeat; background-size: cover; }  #gFooter .about .aboutIn { width: 100%; }  #gFooter .about .aboutIn .tit { width: 175px; padding: 0 0 12px; }  #gFooter .about .aboutIn .box .img { float: left; width: 100px; margin: 0 10px 0 0; }  #gFooter .about .aboutIn .box .txt { float: none; width: 100%; line-height: 1.6; padding-bottom: 20px; font-size: 1.1rem; }  #gFooter .about .aboutIn .btns { margin: 0; }  #gFooter .about .aboutIn .btns .info { float: none; margin: 0 auto 20px; }  #gFooter .about .aboutIn .btns .contact { float: none; width: 210px; margin: 0 auto; }  #gFooter .ftBtm { height: auto; padding: 40px 0 30px; background: url(../img/common/footer/bg_footer03.png) 0 0 no-repeat; background-size: cover; }  #gFooter .ftBtm .ftBtmIn { width: 100%; }  #gFooter .ftBtm .ftBtmIn .sns { position: static; float: none; width: 110px; margin: 0 auto 23px; margin-top: 0; }  #gFooter .ftBtm .ftBtmIn .sns li img { width: 100%; height: auto; }  #gFooter .ftBtm .ftBtmIn .sns li.fb { width: 9px; }  #gFooter .ftBtm .ftBtmIn .sns li.tw { width: 21px; }  #gFooter .ftBtm .ftBtmIn .sns li.hn { width: 16px; }  #gFooter .ftBtm .ftBtmIn .ftLogo01 { position: static; width: 113px; margin: 0 auto 25px; }  #gFooter .ftBtm .ftBtmIn .copyRight { padding-top: 0; font-size: 1.1rem; } }
#hopecolumn #gFooter { padding-top: 20px; background: #f2f2f2 url(../img/common/footer/footer_bg.png) repeat-x; font-size: 1.3rem; }
#hopecolumn #gFooter .gFooterIn { width: 960px; margin: 0 auto; }
#hopecolumn #gFooter .gFooterIn p { padding: 6px 0; }
#hopecolumn #gFooter .gFooterIn img { width: auto; }
#hopecolumn #gFooter .gFooterIn .grid_4 { float: left; width: 220px; margin-right: 10px; margin-left: 10px; }
#hopecolumn #gFooter .gFooterIn .grid_6 { float: left; width: 340px; margin-right: 10px; margin-left: 10px; }
#hopecolumn #gFooter .gFooterIn .calendar .fs14 { margin-right: 20px; }
#hopecolumn #gFooter .gFooterIn .bottom1-3 strong { font-weight: bold; }
#hopecolumn #gFooter .grid_16 { padding-top: 30px; padding-bottom: 5px; }
#hopecolumn #gFooter .grid_16 p a { color: #737373; text-decoration: none; }
@media screen and (max-width: 599px) { #hopecolumn #gFooter { padding: 10px 15px; }  #hopecolumn #gFooter .gFooterIn { width: 100%; }  #hopecolumn #gFooter .gFooterIn img { width: 100%; }  #hopecolumn #gFooter .gFooterIn .grid_4 { float: none; width: 100%; margin-right: 0; margin-left: 0; }  #hopecolumn #gFooter .gFooterIn .grid_6 { float: none; width: 100%; margin-right: 0; margin-left: 0; }  #hopecolumn #gFooter .gFooterIn .calendar .fs14 { margin-right: 20px; }  #hopecolumn #gFooter .gFooterIn .bottom1-3 strong { font-weight: bold; }  #hopecolumn #gFooter .grid_16 { padding-top: 15px; padding-bottom: 3px; font-size: 1.0rem; } }
/*=============================================================
 05_helper
=============================================================*/
@font-face { font-family: "mplus-2c-regular"; src: url("fonts/mplus-2c-regular.eot"); src: url("fonts/mplus-2c-regular.eot?#iefix") format("embedded-opentype"), url("fonts/mplus-2c-regular.woff") format("woff"), url("fonts/mplus-2c-regular.ttf") format("truetype"); }
@font-face { font-family: "mplus-2c-medium"; src: url("fonts/mplus-2c-medium.eot"), url("fonts/mplus-2c-medium.woff") format("woff"), url("fonts/mplus-2c-medium.ttf") format("truetype"); }
@font-face { font-family: "mplus-2c-heavy"; src: url("fonts/mplus-2c-heavy.eot"), url("fonts/mplus-2c-heavy.woff") format("woff"), url("fonts/mplus-2c-heavy.ttf") format("truetype"); }
/*!  .js-name
================================================ */
/*=============================================================
 06_lib
=============================================================*/
/*=============================================================
#gHeader TOP追加 2017.12.18
=============================================================*/
#gHeader .hdInfo .hSns { width: 222px; }
#gHeader .hdInfo .hSns ul li.home_btn { width: 111px; position: relative; border-radius：100px!important;}
#gHeader .hdInfo .hSns ul li.home_btn  a { display: block; padding: 7px 0; border: 1px solid #bdbcbc; border-radius：100px!important; background-color: #fff; color: #1f1f1f; font-family: "mplus-2c-heavy", "メイリオ", Meiryo, "游明朝", YuMincho, "Times New Roman", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", serif; font-weight: bold; font-size: 14px; text-decoration: none; text-align: center;}
#gHeader .hdInfo .hSns ul li.home_btn a:after { margin-left: 13px; padding-left: 13px; background: url(https://www.hope21.jp/hopemedia/wp-content/themes/hope21/img/common/ico_blank01.png) 0 50% no-repeat; background-size: 13px; content: ""; } 
#gHeader #gNav .hdFix .hdFixIn > ul > li.hdFixNav_home a {display: block; padding: 7px 0; border: 1px solid #bdbcbc; border-radius：100px!important; background-color: #fff; color: #1f1f1f; font-family: "mplus-2c-heavy", "メイリオ", Meiryo, "游明朝", YuMincho, "Times New Roman", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", serif; font-weight: bold; font-size: 14px; text-decoration: none; text-align: center; margin-top: -12px;}
#gHeader #gNav .hdFix .hdFixIn > ul > li.hdFixNav_home a:after { margin-left: 13px; padding-left: 13px; background: url(https://www.hope21.jp/hopemedia/wp-content/themes/hope21/img/common/ico_blank01.png) 0 50% no-repeat; background-size: 13px; content: ""; }

/*=============================================================
#gFooter menu追加 2017.12.18
=============================================================*/
#gFooter .menu > ul{
  width:19%;
  font-size: 13px;
  float: left;
	margin-right: 1%;
}
#gFooter .menu > ul > li > ul {
  display:block;
}
#gFooter .menu > ul > li,
#gFooter .menu > ul > li > a{
	font-weight: bold;
	color: #737373;
	text-decoration: none;
	margin-bottom: 10px;
	list-style-image:url("/images/top-img/footer_bg.png");
	background-repeat:no-repeat;	
}
#gFooter .menu > ul > li > ul > li {
	font-size: 12px;
	list-style-image:url("/images/top-img/footer_bg.png");
	background-repeat:no-repeat;
	margin-top:10px;
	margin-left:20px;
}
#gFooter .menu > ul > li > ul > li > a {
	text-decoration: none;
	color: #737373;	
}
	
@media screen and (max-width: 599px) { 
	
#gFooter .menu > ul > li,
#gFooter .menu > ul > li > a{
	margin-bottom: 0;
	list-style-image:none;
}
#gFooter .menu > ul > li > ul > li {
	list-style-image:none;
	margin:0;
}

#gFooter .menu {
  width:100%;
  font-size: 16px;
  margin:0 auto;
}
#gFooter .menu > ul{
  width:100%;
  float: none;	
}	
#gFooter .menu >  ul > li > a{
  display: block;
  color: #fff;
  background-color:#7C7C7C;
  border-bottom: 1px solid #fff;
  cursor: pointer;
  padding: 10px 12px;
  border-radius:5px;
}
#gFooter .menu >  ul > li > a.arrow {
	background:#7C7C7C url("/images/icon/navigate_down.png") no-repeat center right 20px;
}
#gFooter .menu > ul > li > ul {
  display: none;
}
#gFooter .submenu li{

}
#gFooter .submenu li a{
	text-decoration: none;
	color: #909090;
	display: block;
    font-size: 14px;
    padding: 10px 12px;
}
#gFooter .submenu li a:hover{
  background-color:#909090;
  color: #ffffff;
}	
}



/*# sourceMappingURL=maps/common.css.map */